
//Colors 

$primary: #F38430;
$textGray: #808080;
$secondary: #6289B1;
$red: #D05332;
$blue: #335F86;
$green: #86A644;
$cream: #FDF8E4;
$gray: #F5F5F5;

//Fonts 
$OpenSans : 'Open Sans', sans-serif;
$Raleway : 'Raleway', sans-serif;

